[Unit]
Description=AFL++ CPU Scheduler
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/afl_sched_ctl.sh start
ExecStop=/usr/local/bin/afl_sched_ctl.sh stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
